
p, h1 {
    text-align: center;
    color: white;
    line-height: 20px;
    font-family: 'Cinzel', serif;
    max-width: 80vw;
    margin: 2vh auto;

}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--man {
  transform: translateZ(0) scale(1);
  margin-top: 35vh;
  margin-left: 70vw;
  z-index: 0;
}

.parallax__layer--overlay {
  z-index: 1;
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  z-index: -2;
}

.parallax__layer--back2 {
  transform: translateZ(-2px) scale(3);
  z-index: -1;
}

.parallax__layer--back3 {
  z-index: 3;
  top: 8vh;
}

.parallax__layer--back4 {
  z-index: 4;
  top: 65vh;
}

.parallax__group {
  transform: translateZ(0) scale(1);
}

.text {
  background-color: black;
  padding-top: 10vh;
  padding-bottom: 100vh;
  z-index: 6;
  position: relative;
  margin-top: 96vh;
}
